
# command.json
**/.compile_commands.json

# clang .cache
**/.cache/

# vscode
**/.vscode/

#intellij
**/.idea/

# build files
**/build/
**/cmake-build-*

# nano swp files
**/*.swp

# gdb history files
**/.gdb_history

# log files
**/*.log

# tutorial/:
tutorial/stack
tutorial/stack1
tutorial/stack2
tutorial/stack3


# minik toolchain:
minik/toolchain/ldscript.ld
minik/toolchain/minik-x64-musl-tcc
minik/toolchain/minik-x64-musl-tcc-ld
minik/toolchain/musl-tcc/
minik/toolchain/tinycc/

# minik ports:
minik/ports/lighthouse-of-doom/lighthouse-of-doom/
minik/ports/tinybasic/Tiny-Basic/
minik/ports/cowsay/ccowsay/
