
# command.json
**/.compile_commands.json

# clang .cache
**/.cache/

# vscode
**/.vscode/

#intellij
**/.idea/

# build files
**/build/
**/cmake-build-*

# nano swp files
**/*.swp

# gdb history files
**/.gdb_history


# tutorial/:
tutorial/stack
tutorial/stack1
tutorial/stack2
tutorial/stack3
