[submodule "deps/capstone"]
	path = deps/capstone
	url = https://github.com/capstone-engine/capstone.git
[submodule "deps/ELFIO"]
	path = deps/ELFIO
	url = https://github.com/serge1/ELFIO.git
[submodule "deps/catch2"]
	path = deps/catch2
	url = https://github.com/catchorg/Catch2.git
